[main]
locale ="fi_FI"
themes ="horoscope"
changefreq ="monthly"

[dirs]
rootdir="/home/juno/git/cv/version_desk_react_00"
rootdirm="/home/juno/git/cv/version_mobile_react_00"
backendrootdir = "/home/juno/git/go_cv/version_00"
dbdir = "/home/juno/git/go_cv/en_US_programming.db"
rssresorsesfile = "/home/juno/git/go_red/rssresorses.csv"
